<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorator="model/head">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta name="renderer" content="webkit" />
    <title>竞技管理后台</title>
    <script type="text/javascript">
        $(function () {
            $(".newadd").click(function () {
                window.location = '/base/role/add.html';
            });
            showSide("角色管理");
        });
        function deleteHero(doc) {
            layer.confirm("确定删除此角色吗？", {
                btn: ['确定', '取消']
            }, function () {
                $.ajax({
                    url: "/base/role/delete",
                    dataType: "json",
                    type: "get",
                    data: {id: doc.id, roleName: $(doc).attr("alt")},
                    success: function (res) {
                        layer.msg(res.msg, {time: 1000}, function () {
                            window.location.reload();
                        });
                    }, error: function () {
                        layer.msg("服务器异常", {time: 3000});
                    }
                });
            }, function () {
                layer.close();
            });
        }
    </script>
</head>
<body>
<div class="container" layout:fragment="content">
    <div class="bread">
        <i class="icon-home"></i>
        <a href="#">网站设置</a><span>></span>
        <a href="/base/role/list.html">角色管理</a><span>></span>
        <em>角色列表</em>
    </div>
    <div class="main wrapper">
        <div class="wrap">
            <form action="/base/role/list.html" method="POST" class="form-inline" id="searchForm">
                <input type="hidden" id="page" name="page" th:value="${page.page}" />
                <input type="hidden" name="totalPage" th:value="${page.totalPage}" />
                <div class="form-group">
                    <input type="text" name="filter['name']" class="form-control" placeholder="角色名搜索" th:value="${page.filter['name']}" />
                    <button type="submit" onclick="resetPage();" class="btn btn-default">搜索</button>
                </div>
                <div class="pull-right">
                    <a href="javascript:;" class="btn btn-default" onclick="location.reload();">刷新</a>
                    <a href="#" class="newadd btn btn-success">新增</a>
                </div>
            </form>
        </div>
        <div class="container-list">
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <td>角色ID</td>
                        <td>角色名</td>
                        <!--<td >状态</td>-->
                        <td>标识</td>
                        <td>描述</td>
                        <td>操作</td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="r:${page.result}">
                        <td th:text="${r.id}"></td>
                        <td th:text="${r.name}"></td>
                        <!--<td  th:text="${r.state}"></td>-->
                        <td th:text="${r.roleKey}"></td>
                        <td th:text="${r.description}"></td>
                        <td>
                            <a class="btn btn-xs btn-danger" th:id="${r.id}" th:alt="${r.name}" onclick="deleteHero(this);">删除</a>
                            <span>|</span>
                            <a th:href="@{/base/role/edit.html(id=${r.id})}" class="btn btn-xs btn-info">修改</a>
                            <span>|</span>
                            <a th:href="@{/base/role/editPerm.html(id=${r.id})}" class="btn btn-xs btn-info">分配权限</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="text-center">
                <ul id="pageLimit"></ul>
            </div>
        </div>
    </div>
</div>
</body>
</html>