<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="model/head">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta name="renderer" content="webkit" />
    <title>竞技管理后台</title>
    <script type="text/javascript">
        //<![CDATA[
        $(function () {
            showSide("资源管理");
            $("#form").validate({
                debug: true,
                checkStart: true,
                errorElement: 'span',
                errorClass: "_error",
                focusInvalid: false,
                ignore: "",
                submitHandler: function (form) {
                    $(form).ajaxSubmit(function (res) {
                        if (res.code == 200) {
                            layer.confirm("添加成功，是否继续新增？", {
                                btn: ['确定', '取消']
                            }, function () {
                                window.location.href = "/base/resources/add.html";
                            }, function () {
                                window.location.href = "/base/resources/list.html";
                            });
                        } else {
                            layer.msg(res.msg, {time: 3000});
                        }
                    });
                },
                highlight: function (e) {
                    $(e).closest('.control-group').removeClass('info').addClass('error');
                },
                rules: {
                    resKey: {
                        required: true
                    }, name: {
                        required: true
                    }, resUrl: {
                        required: true
                    }
                },
                messages: {
                    resKey: {
                        required: "必填"
                    }, name: {
                        required: "必填"
                    }, resUrl: {
                        required: "必填"
                    }
                }
            });

            var url = '/base/resources/reslists.html';
            var data = _CommnUtil.ajax(url, null, "json");
            if (data != null && data != '') {
                var h = "<option value='0'>------顶级目录------</option>";
                for (var i = 0; i < data.length; i++) {
                    h += "<option value='" + data[i].id + "'>" + data[i].name + "</option>";
                }
                $("#parentId").html(h);
            } else {
                alert("获取菜单信息错误，请联系管理员！");
            }
        });
        //]]>
    </script>
</head>
<body>
<div class="container" layout:fragment="content">
    <div class="bread">
        <i class="icon-home"></i>
        <a href="#">网站设置</a><span>></span>
        <a href="/base/resources/list.html">资源管理</a><span>></span>
        <em>新增资源</em>
    </div>
    <div class="main">
        <form action="/base/resources/save.json" method="post" class="form-horizontal" id="form">
            <div class="row">
                <div class="col-md-3">
                    <label class="col-md-4 text-right">菜单名称：</label>
                    <input class="col-md-6" name="name" />
                </div>
                <div class="col-md-3">
                    <label class="col-md-4 text-right">菜单标识：</label>
                    <input class="col-md-6" name="resKey" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <label class="col-md-4 text-right">菜单url：</label>
                    <input class="col-md-6" name="resUrl" />
                </div>
                <div class="col-md-3">
                    <label class="col-md-4 text-right">上级菜单：</label>
                    <select class="col-md-6" id="parentId" name="parentId">
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <label class="col-md-4 text-right">菜单类型：</label>
                    <select class="col-md-6" name="type">
                        <option value="0">------ 目录 ------</option>
                        <option value="1">------ 菜单 ------</option>
                    </select>
                </div>
                <div class="col-md-3">
                    <label class="col-md-4 text-right">优先级：</label>
                    <input class="col-md-6" name="level"
                           onkeyup="this.value=this.value.replace(/\D/g,'')"
                           onafterpaste="this.value=this.value.replace(/\D/g,'')" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <label class="col-md-4 text-right">图标：</label>
                    <select class="col-md-6" name="icon">
                        <option value="">请选择</option>
                        <option value="icon-hero">icon-hero</option>
                        <option value="icon-rank">icon-rank</option>
                        <option value="icon-team">icon-team</option>
                        <option value="icon-schedule">icon-schedule</option>
                        <option value="icon-event">icon-event</option>
                    </select>
                </div>
                <div class="col-md-3">
                    <label class="col-md-4 text-right">菜单描述：</label>
                    <input class="col-md-6" name="description" />
                </div>
            </div>
            <div class="col-xs-12 operate">
                <button class="save btn btn-danger">保存</button>
                <input type="button" name="cancel" class="btn btn-warning" value="取消" onclick="cancleGoBack();" />
            </div>
        </form>
    </div>
</div>
</body>
</html>
